#hot_top #actions .left-col .wrap {
  margin-left: -15px;
  margin-right: -15px;
}
#hot_top #actions .btn {
  float: left;
  display: block;
  background: transparent;
  border: 0;
  border-radius: 0;
  width: 100%;
  margin: 30px 0;
  padding: 30px;
  position: relative;
}
#hot_top #actions .btn span {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
#hot_top #actions .btn:before {
  content: '';
  border: 1px solid #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  opacity: .3;
  transition: transform .2s;
}
#hot_top #actions .btn:after {
  display: block;
  background: #ec2124;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.2s ease-in;
}
#hot_top #actions .btn:hover {
  background: transparent;
}
#hot_top #actions .btn:hover span {
  color: #ec2124;
}
#hot_top #actions .btn:hover:before {
  border-color: #ec2124;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
}
#hot_top #actions .btn:hover:after {
  left: -30px;
  right: -30px;
  top: -30px;
  bottom: -30px;
  opacity: 0;
}
#hot_top #actions .btn.yellow:after {
  background: #ff9c5b;
}
#hot_top #actions .btn.yellow:hover span {
  color: #ff9c5b;
}
#hot_top #actions .btn.yellow:hover:before {
  border-color: #ff9c5b;
}
#hot_top #actions .btn.yellow:hover:after {
  background: #ff9c5b;
}
#hot_top #actions .btn.orange:after {
  background: #f5634a;
}
#hot_top #actions .btn.orange:hover span {
  color: #f5634a;
}
#hot_top #actions .btn.orange:hover:before {
  border-color: #f5634a;
}
#hot_top #actions .btn.orange:hover:after {
  background: #f5634a;
}
#hot_top #hot_slider {
  height: 412px;
}
#hot_top #hot_slider .carousel-inner .item {
  height: 410px;
}
#hot_top #hot_slider .carousel-inner .item .wrap {
  display: inline-block;
  width: 100%;
  padding: 30px;
}
#hot_top #hot_slider .carousel-inner .item .wrap .photo {
  display: block;
  width: 100%;
  height: 350px;
  float: left;
}
#hot_top #hot_slider .carousel-inner .item .wrap .photo img {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
}
#hot_top #packs {
  display: block;
  width: 100%;
}
#hot_top #packs .wrap {
  display: inline-block;
  width: 100%;
  padding: 30px;
  position: relative;
}
#hot_top #packs .wrap .sticker {
  height: 350px;
}
#hot_top #packs .wrap .buttons {
  display: block;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
#auctions_top {
  margin-bottom: 40px;
}
#auctions_top .row {
  height: 300px;
  margin-bottom: 30px;
}
#auctions_top .row .auction {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  position: relative;
}
#auctions_top .row .auction .wrap {
  text-align: center;
  border: 1px solid #eee;
  height: 300px;
  transition: border-color 0.2s ease-in;
}
#auctions_top .row .auction .wrap img {
  width: 90%;
}
#auctions_top .row .auction .wrap .cover {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 1px;
  right: 1px;
  top: 100%;
  bottom: 1px;
  transition: top 0.2s ease-in;
}
#auctions_top .row .auction .wrap .cover h3 {
  display: inline-block;
  line-height: 105px;
  padding: 0 25px 20px;
  margin: 35px 0 15px;
  position: relative;
}
#auctions_top .row .auction .wrap .cover h3 span {
  display: inline-block;
  color: #444;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  word-wrap: normal;
  vertical-align: middle;
}
#auctions_top .row .auction .wrap .cover h3:after {
  display: block;
  background: #ec2124;
  content: "";
  width: 74px;
  height: 1px;
  margin-left: -37px;
  position: absolute;
  left: 50%;
  bottom: 0;
}
#auctions_top .row .auction .wrap .cover p {
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 0 25px 25px;
}
#auctions_top .row .auction:hover .wrap {
  border-color: #ec2124;
}
#auctions_top .row .auction:hover .wrap .cover {
  top: 1px;
}
#join_to_us .wrapper {
  overflow: hidden;
  height: 102px;
}
#join_to_us .wrapper .arrow {
  width: 100px;
  height: 100px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
#join_to_us .wrapper .arrow .square {
  background: #ec2124;
  width: 200px;
  height: 200px;
  position: absolute;
  left: auto;
  right: -10px;
  top: -50px;
  transform: rotate(-45deg);
}
#join_to_us .wrapper .arrow .check {
  display: block;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  left: 30px;
  top: 50%;
}
#join_to_us .wrapper .arrow .check:before {
  font-size: 46px;
  line-height: 40px;
}
#join_to_us .wrapper .description {
  padding: 15px 30px 15px 85px;
}
#join_to_us .wrapper .description .title {
  display: block;
  color: #444;
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
}
#join_to_us .wrapper .description .subtitle {
  display: block;
  color: #888;
  line-height: 15px;
  margin: 5px 0 0;
}
#join_to_us .wrapper .socials {
  float: right;
  display: block;
  margin: 35px 15px 0 0;
}
#join_to_us .wrapper .socials li {
  float: left;
  display: block;
  height: 30px;
  margin: 0 5px 0;
}
#join_to_us .wrapper .socials a {
  background: #606060;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.4;
}
#join_to_us .wrapper .socials a:hover {
  opacity: 1;
}
#pay_systems {
  margin: 30px 0 40px;
}
#pay_systems .icon {
  display: block;
  width: 100%;
  height: 80px;
  opacity: .6;
}
#pay_systems .icon:before {
  color: #555;
  font-size: 70px;
  line-height: 80px;
}
#pay_systems .icon:hover {
  opacity: 1;
}
