body
{
	background: #fff;
	color: #444;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 20px;
}

a
{
	transition: all .2s ease-in;

	&:hover
	{
		color: #ec2124;
		text-decoration: none;
	}
}

ul, ol
{
	margin: 0;
	padding: 0;

	li
	{
		list-style: none;
	}
}

.container
{
	.wrapper
	{
		padding: 0 15px;
	}
}