#footer
{
	background: #222;
	color: #929292;
	padding-top: 30px 0 0;

	.row
	{
		margin: 0;
		padding: 20px 0;

		&.top
		{
			padding: 30px 0;

			.wrap
			{
				overflow: hidden;

				h4
				{
					display: inline-block;
					color: #fff;
					margin: 0 0 5px;
					position: relative;

					&:after
					{
						display: inline-block;
						content: '';
						border-top: 1px solid #292929;
						border-bottom: 1px solid #292929;
						width: 999px;
						height: 4px;
						margin: -2px 0 0 20px;
						position: absolute;
						left: 100%;
						top: 50%;
					}
				}
			}

			li
			{
				display: block;
				border-bottom: 1px solid #292929;
				padding: 12px 0;
				position: relative;

				&:before
				{
					display: block;
					background: #ec2124;
					content: '';
					width: 4px;
					height: 4px;
					position: absolute;
					left: 0;
					top: 20px;
				}

				a
				{
					color: #929292;
					margin-left: 30px;

					&:hover
					{
						color: #ec2124;
					}
				}
			}
		}

		&.bottom
		{
			background: #121212;
			color: #505050;
			line-height: 25px;

			.socials
			{
				display: block;
				text-align: center;

				li
				{
					display: inline-block;
					margin: 0 10px 0;
				}

				a
				{
					color: #686868;
					font-size: 25px;
					width: 25px;
					height: 25px;
					opacity: .4;

					&:hover
					{
						background: transparent;
						opacity: 1;
					}
				}
			}
		}
	}
}