#header
{
	background: #272727;

	.navbar
	{
		border: 0;
		margin-bottom: 0;

		.row
		{
			margin: 0;

			.navbar-nav
			{
				li
				{
					a
					{
						color: #fff;
						font-size: 16px;
						margin-left: -20px;
						padding: 20px;

						&:hover
						{
							background: transparent;
							color: #ec2124;
						}
					}
				}

				&.navbar-right
				{
					margin-right: 0;

					li
					{
						width: 60px;

						a
						{
							display: block;
							color: #929292;
							font-size: 26px;
							line-height: 60px;
							width: 60px;
							height: 60px;
							padding: 0;
							margin: 0;

							&:hover
							{
								background: transparent;
								color: #fff;
							}

							&.cart
							{
								background: #ec2124;
								color: #fff;

								&:hover
								{
									background: transparent;
									color: #ec2124;
								}
							}
						}
					}
				}
			}

			&.menu
			{
				background: #363636;
				border-top: 1px solid #3e3e3e;
			}
		}
	}
}