@yellow_color: #ff9c5b;
@orange_color: #f5634a;
@red_color: #ec2124;

#hot_top
{
	#actions
	{
		.left-col
		{
			.wrap
			{
				margin-left: -15px;
				margin-right: -15px;
			}
		}

		.btn
		{
			float: left;
			display: block;
			background: transparent;
			border: 0;
			border-radius: 0;
			width: 100%;
			margin: 30px 0;
			padding: 30px;
			position: relative;

			span
			{
				color: #fff;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 300;
				font-size: 18px;
				text-align: center;
				text-transform: uppercase;
				position: relative;
			}

			&:before
			{
				content: '';
				border: 1px solid #fff;
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				opacity: .3;
				transition: transform .2s;
			}

			&:after
			{
				display: block;
				background: @red_color;
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: -1;
				transition: all .2s ease-in;
			}

			&:hover
			{
				background: transparent;

				span
				{
					color: @red_color;
				}

				&:before
				{
					border-color: @red_color;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					opacity: 1;
				}

				&:after
				{
					left: -30px;
					right: -30px;
					top: -30px;
					bottom: -30px;
					opacity: 0;
				}
			}

			&.yellow
			{
				&:after
				{
					background: @yellow_color;
				}

				&:hover
				{
					span
					{
						color: @yellow_color;
					}

					&:before
					{
						border-color: @yellow_color;
					}

					&:after
					{
						background: @yellow_color;
					}
				}
			}

			&.orange
			{
				&:after
				{
					background: @orange_color;
				}

				&:hover
				{
					span
					{
						color: @orange_color;
					}

					&:before
					{
						border-color: @orange_color;
					}

					&:after
					{
						background: @orange_color;
					}
				}
			}
		}
	}

	#hot_slider
	{
		height: 412px;

		.carousel-inner
		{
			.item
			{
				height: 410px;

				.wrap
				{
					display: inline-block;
					width: 100%;
					padding: 30px;

					.photo
					{
						display: block;
						width: 100%;
						height: 350px;
						float: left;

						img
						{
							display: block;
							height: 100%;
							width: auto;
							margin: 0 auto;
						}
					}
				}
			}
		}
	}

	#packs
	{
		display: block;
		width: 100%;

		.wrap
		{
			display: inline-block;
			width: 100%;
			padding: 30px;
			position: relative;

			.sticker
			{
				height: 350px;
			}

			.buttons
			{
				display: block;
				position: absolute;
				left: 30px;
				right: 30px;
				bottom: 30px;
			}
		}
	}
}

#auctions_top
{
	margin-bottom: 40px;

	.row
	{
		height: 300px;
		margin-bottom: 30px;

		.auction
		{
			overflow: hidden;
			display: inline-block;
			width: 100%;
			position: relative;

			.wrap
			{
				text-align: center;
				border: 1px solid #eee;
				height: 300px;
				transition: border-color .2s ease-in;

				img
				{
					width: 90%;
				}

				.cover
				{
					display: block;
					background: rgba(255,255,255, 0.8);
					position: absolute;
					left: 1px;
					right: 1px;
					top: 100%;
					bottom: 1px;
					transition: top .2s ease-in;

					h3
					{
						display: inline-block;
						line-height: 105px;
						padding: 0 25px 20px;
						margin: 35px 0 15px;
						position: relative;

						span
						{
							display: inline-block;
							color: #444;
							font-size: 30px;
							font-weight: 700;
							line-height: 35px;
							word-wrap: normal;
							vertical-align: middle;
						}

						&:after
						{
							display: block;
							background: #ec2124;
							content: "";
							width: 74px;
							height: 1px;
							margin-left: -37px;
							position: absolute;
							left: 50%;
							bottom: 0;
						}
					}

					p
					{
						color: #444;
						font-family: "Open Sans", sans-serif;
						font-weight: 400;
						padding: 0 25px 25px;
					}
				}
			}

			&:hover
			{
				.wrap
				{
					border-color: #ec2124;

					.cover
					{
						top: 1px;
					}
				}
			}
		}
	}
}

#join_to_us
{
	.wrapper
	{
		overflow: hidden;
		height: 102px;

		.arrow
		{
			width: 100px;
			height: 100px;
			margin-left: -15px;
			margin-right: -15px;
			position: relative;

			.square
			{
				background: #ec2124;
				width: 200px;
				height: 200px;
				position: absolute;
				left: auto;
				right: -10px;
				top: -50px;
				transform: rotate(-45deg);
			}

			.check
			{
				display: block;
				color: #fff;
				width: 40px;
				height: 40px;
				margin: -20px 0 0;
				position: absolute;
				left: 30px;
				top: 50%;

				&:before
				{
					font-size: 46px;
					line-height: 40px;
				}
			}
		}

		.description
		{
			padding: 15px 30px 15px 85px;

			.title
			{
				display: block;
				color: #444;
				font-size: 22px;
				font-weight: 600;
				line-height: 25px;
				text-align: left;
				letter-spacing: 0;
				text-transform: uppercase;
				margin: 0;
			}

			.subtitle
			{
				display: block;
				color: #888;
				line-height: 15px;
				margin: 5px 0 0;
			}
		}

		.socials
		{
			float: right;
			display: block;
			margin: 35px 15px 0 0;

			li
			{
				float: left;
				display: block;
				height: 30px;
				margin: 0 5px 0;
			}

			a
			{
				background: #606060;
				color: #fff;
				font-size: 20px;
				line-height: 30px;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				opacity: 0.4;

				&:hover
				{
					opacity: 1;
				}
			}
		}
	}
}

#pay_systems
{
	margin: 30px 0 40px;

	.icon 
	{
		display: block;
		width: 100%;
		height: 80px;
		opacity: .6;

		&:before
		{
			color: #555;
			font-size: 70px;
			line-height: 80px;
		}

		&:hover
		{
			opacity: 1;
		}
	}
}