.container .title
{
	overflow: hidden;
	text-align: center;
	margin: 30px 0 20px;

	h1
	{
		display: inline-block;
		font-size: 28px;
		text-transform: uppercase;
		margin: 0;
		position: relative;

		&:before
		{
			display: inline-block;
			content: '';
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			width: 9999px;
			height: 4px;
			margin-top: -2px;
			margin-right: 20px;
			position: absolute;
			top: 50%;
			right: 100%;
		}

		&:after
		{
			display: inline-block;
			content: '';
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			width: 9999px;
			height: 4px;
			margin-top: -2px;
			margin-left: 20px;
			position: absolute;
			top: 50%;
			left: 100%;
		}
	}
}

.btn
{
	background: #ec2124;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	border: 3px solid #ec2124;
	border-radius: 0;
	padding: 15px 25px;

	&:hover
	{
		background: transparent;
		color: #ec2124;
	}
}

.panel
{
	overflow: hidden;
	display: inline-block;
	background: #f4f4f4;
	border: 1px solid #eee;
	box-shadow: 0 0 0 5px rgba(255,255,255, 0.4) inset;
	border-radius: 0;
	margin: 0;
}

.carousel-control.left,
.carousel-control.right
{
	background: none;

	.icon
	{
		font-size: 32px;
		line-height: 32px;
		width: 32px;
		height: 32px;
		margin: -16px 0 0 -16px;
		position: absolute;
		left: 50%;
		top: 50%;
	}
}

.carousel-indicators
{
	line-height: 12px;
}

.carousel-indicators li
{
	display: inline-block;
	background: #ec2124;
	text-align: center;
	border: 2px solid #ec2124;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin: 0 2px;
	cursor: pointer;
}

.carousel-indicators .active
{
	background: transparent;
	margin: 0 2px;
}

.icon
{
	display: inline-block;
	position: relative;

	&:before
	{
		display: block;
		font-family: 'FontAwesome';
		text-align: center;
		width: 100%;
		position: absolute;
	}

	&.check:before
	{
		content: '\f05d';
	}

	&.vk:before
	{
		content: '\f189';
	}

	&.fb:before
	{
		content: '\f09a';
	}

	&.ok:before
	{
		content: '\f263';
	}

	&.tw:before
	{
		content: '\f099';
	}

	&.chevron-left:before
	{
		content: '\f053';
	}

	&.chevron-right:before
	{
		content: '\f054';
	}

	&.visa:before
	{
		content: '\f1f0';
	}

	&.mastercard:before
	{
		content: '\f1f1';
	}

	&.amex:before
	{
		content: '\f1f3';
	}

	&.stripe:before
	{
		content: '\f1f5';
	}

	&.jcb:before
	{
		content: '\f24b';
	}

	&.discover:before
	{
		content: '\f1f2';
	}

	&.sign-in:before
	{
		content: '\f090';
	}

	&.sign-out:before
	{
		content: '\f08b';
	}

	&.cart:before
	{
		content: '\f07a';
	}
}