<div id="hot_top">
	<div class="container">
		<div class="wrapper">
			<div id="actions" class="row">
				<div class="col-lg-8 left-col">
					<div class="wrap">
						<div class="col-lg-6">
							<a class="btn yellow" href="#">
								<span>Получи бонус при регистрации</span>
							</a>
						</div>
						<div class="col-lg-6">
							<a class="btn orange" href="#">
								<span>Участвуй в реферальной программе</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 right-col">
					<a class="btn red" href="#">
						<span>Возвращаем потраченные ставки</span>
					</a>
				</div>
			</div>
			<div id="" class="row">
				<div class="col-lg-8">
					<div id="hot_slider" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#hot_slider" data-slide-to="0" class="active"></li>
							<li data-target="#hot_slider" data-slide-to="1"></li>
							<li data-target="#hot_slider" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner panel" role="listbox">
							<div class="item active">
								<div class="wrap">
									<div class="photo">
										<%= image_tag("tmp/nikon.jpg") %>
									</div>
									<!--div class="carousel-caption">nikon</div-->
								</div>
							</div>
							<div class="item">
								<div class="wrap">
									<div class="photo">
										<%= image_tag("tmp/beats.jpg") %>
									</div>
									<!--div class="carousel-caption">beats</div-->
								</div>
							</div>
							<div class="item">
								<div class="wrap">
									<div class="photo">
										<%= image_tag("tmp/ps4.jpg") %>
									</div>
									<!--div class="carousel-caption">ps4</div-->
								</div>
							</div>
						</div>
						<!--a class="left carousel-control" href="#hot_slider" role="button" data-slide="prev">
							<span class="icon chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#hot_slider" role="button" data-slide="next">
							<span class="icon chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a-->
					</div>
				</div>
				<div class="col-lg-4">
					<div id="packs" class="panel">
						<div class="wrap">
							<div class="sticker">
								<%= image_tag("tmp/ps4.jpg") %>
							</div>
							<div class="buttons text-center">
								<a class="btn" href="#">купить</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="auctions_top">
	<div class="container">
		<div class="wrapper">
			<div class="title">
				<h1>
					<span>Аукционы</span>
				</h1>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb1.jpg") %>
							<div class="cover">
								<h3>
									<span>House of cards</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb2.jpg") %>
							<div class="cover">
								<h3>
									<span>Nexus 5</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb3.jpg") %>
							<div class="cover">
								<h3>
									<span>Logitech Combo</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb4.jpg") %>
							<div class="cover">
								<h3>
									<span>Panasonic TC-58AX800U</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb1.jpg") %>
							<div class="cover">
								<h3>
									<span>House of cards</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb2.jpg") %>
							<div class="cover">
								<h3>
									<span>Nexus 5</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb3.jpg") %>
							<div class="cover">
								<h3>
									<span>Logitech Combo</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb4.jpg") %>
							<div class="cover">
								<h3>
									<span>Panasonic TC-58AX800U</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb1.jpg") %>
							<div class="cover">
								<h3>
									<span>House of cards</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb2.jpg") %>
							<div class="cover">
								<h3>
									<span>Nexus 5</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb3.jpg") %>
							<div class="cover">
								<h3>
									<span>Logitech Combo</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-3">
					<a class="auction" href="#">
						<div class="wrap">
							<%= image_tag("tmp/thumb4.jpg") %>
							<div class="cover">
								<h3>
									<span>Panasonic TC-58AX800U</span>
								</h3>
								<p>Some description text</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="buttons text-center">
				<a id="more" class="btn" href="#">Cмотреть все аукционы</a>
			</div>
		</div>
	</div>
</div>
<div id="join_to_us">
	<div class="container">
		<div class="wrapper">
			<div class="panel">
				<div class="col-lg-1">
					<div class="arrow">
						<span class="square"></span>
						<span class="icon check"></span>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="description">
						<span class="title">Присоединяйся к нашему сообществу и будь в курсе последних событий</span>
						<span class="subtitle">За вступление в грумму дарим 50 бонусов на счет</span>
					</div>
				</div>
				<div class="col-lg-3">
					<ul class="socials">
						<li>
							<a class="icon vk" href="#"></a>
						</li>
						<li>
							<a class="icon fb" href="#"></a>
						</li>
						<li>
							<a class="icon ok" href="#"></a>
						</li>
						<li>
							<a class="icon tw" href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="pay_systems">
	<div class="container">
		<div class="wrapper">
			<div class="title">
				<h1>
					<span>Мы принимаем</span>
				</h1>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<a class="icon visa" href="#"></a>
				</div>
				<div class="col-lg-2">
					<a class="icon mastercard" href="#"></a>
				</div>
				<div class="col-lg-2">
					<a class="icon amex" href="#"></a>
				</div>
				<div class="col-lg-2">
					<a class="icon jcb" href="#"></a>
				</div>
				<div class="col-lg-2">
					<a class="icon discover" href="#"></a>
				</div>
				<div class="col-lg-2">
					<a class="icon stripe" href="#"></a>
				</div>
			</div>
		</div>
	</div>
</div>