<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--link rel="shortcut icon" type="image/png" href="<%= image_path("favicon.png") %>"/-->

	<title>CentrSales</title>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<div class="navbar">
			<div class="row">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							CentrSales
						</a>
						<div class="row">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row menu">
				<div class="container">
					<div class="navbar-collapse collapse" role="navigation">
						<ul class="nav navbar-nav">
							<li>
								<a href="#">Аукционы</a>
							</li>
							<li>
								<a href="#">Правила</a>
							</li>
							<li>
								<a href="#">Бонусы</a>
							</li>
							<li>
								<a href="#">ЧаВо</a>
							</li>
							<li>
								<a href="#">Отзывы</a>
							</li>
							<li>
								<a href="#">О проекте</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="icon sign-in" href="#"></a>
							</li>
							<!--li>
								<a class="icon cart" href="#"></a>
							</li>
							<li>
								<a class="icon sign-out" href="#"></a>
							</li-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%= yield %>

	<div id="footer">
		<div class="row top">
			<div class="container">
				<div class="col-lg-3">
					<h5>CentrSales</h5>
					<p>
						Green Lane, Peterborough<br/>
						Cambridgeshire, UK<br/>
						Call Us : (44) 7829 658 452<br/>
						Email : store@store.com
					</p>
				</div>
				<div class="col-lg-3">
					<div class="wrap">
						<h4>Аукционы</h4>
					</div>
					<ul>
						<li>
							<a href="#">Все аукционы</a>
						</li>
						<li>
							<a href="#">Бонусы</a>
						</li>
						<li>
							<a href="#">Купить ставки</a>
						</li>
						<li>
							<a href="#">Личный кабинет</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3">
					<div class="wrap">
						<h4>Документы</h4>
					</div>
					<ul>
						<li>
							<a href="#">Пользовательское соглашение</a>
						</li>
						<li>
							<a href="#">Обработка пресональных данных</a>
						</li>
						<li>
							<a href="#">Договор купли-продажи</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3">
					<div class="wrap">
						<h4>Помощь</h4>
					</div>
					<ul>
						<li>
							<a href="#">ЧаВо</a>
						</li>
						<li>
							<a href="#">Доставка</a>
						</li>
						<li>
							<a href="#">Оплата</a>
						</li>
						<li>
							<a href="#">Как это работает</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row bottom">
			<div class="container">
				<div class="col-lg-4 copyright">
					<span class="icon cr">©</span> <%= DateTime.now.strftime("%Y") %> CentrSales
				</div>
				<div class="col-lg-4">
					<ul class="socials">
						<li>
							<a class="icon vk" href="#"></a>
						</li>
						<li>
							<a class="icon fb" href="#"></a>
						</li>
						<li>
							<a class="icon ok" href="#"></a>
						</li>
						<li>
							<a class="icon tw" href="#"></a>
						</li>
					</ul>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
	</div>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>